<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">

        <nav>
            <a href="/">Return To Home</a>
        </nav>  

        <h1>About Us</h1>
        <p>This is a job listing aggregator web app.</p>
        <p>I created this as one of my first projects into web development, html, and combining it with previous web scraping.</p>

    </div>
    
</body>
</html>
